{
  "log": {
    "_recordingName": "return-albums-of-user-by-top-artist-genres",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 57,
      },
      {
        "_id": "ea814e66fed4ce7696187530b2ea2e49",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "time_range",
              "value": "short_term"
            }
          ],
          "url": "https://api.spotify.com/v1/me/top/artists?limit=50&time_range=short_term"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 9386,
            "text": "{\n  \"items\" : [ {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n    },\n    \"followers\" : {\n      \"href\" : null,\n      \"total\" : 19019662\n    },\n    \"genres\" : [ \"beatlesque\", \"british invasion\", \"classic rock\", \"merseybeat\", \"psychedelic rock\", \"rock\" ],\n    \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n    \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n    \"images\" : [ {\n      \"height\" : 640,\n      \"url\" : \"https://i.scdn.co/image/6b2a709752ef9c7aaf0d270344157f6cd2e0f1a7\",\n      \"width\" : 640\n    }, {\n      \"height\" : 320,\n      \"url\" : \"https://i.scdn.co/image/1047bf172446f2a815a99ab0a0395099d621be51\",\n      \"width\" : 320\n    }, {\n      \"height\" : 160,\n      \"url\" : \"https://i.scdn.co/image/0561b59a91a5e904ad2d192747715688d5f05012\",\n      \"width\" : 160\n    } ],\n    \"name\" : \"The Beatles\",\n    \"popularity\" : 89,\n    \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n  }, {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/293zczrfYafIItmnmM3coR\"\n    },\n    \"followers\" : {\n      \"href\" : null,\n      \"total\" : 1353165\n    },\n    \"genres\" : [ \"adult standards\", \"blues rock\", \"classic rock\", \"rock\", \"rock-and-roll\", \"rockabilly\", \"soul\" ],\n    \"href\" : \"https://api.spotify.com/v1/artists/293zczrfYafIItmnmM3coR\",\n    \"id\" : \"293zczrfYafIItmnmM3coR\",[...]
