{
  "log": {
    "_recordingName": "return-playlist-of-user-by-last-played-artist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 65,
      },
      {
        "_id": "40fb882d8716de88a1893dd32558060d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player/recently-played?limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 198504,
            "text": "{\n  \"items\" : [ {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"album\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/artist/5r0xeBSRKRJ5Dm63XzTZhE\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/artists/5r0xeBSRKRJ5Dm63XzTZhE\",\n          \"id\" : \"5r0xeBSRKRJ5Dm63XzTZhE\",\n          \"name\" : \"Endy Chow\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:5r0xeBSRKRJ5Dm63XzTZhE\"\n        } ],\n        \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/album/6PzgoNwxtkG5RA6JsvqGjI\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/albums/6PzgoNwxtkG5RA6JsvqGjI\",\n        \"id\" : \"6PzgoNwxtkG5RA6JsvqGjI\",\n        \"images\" : [ {\n          \"height\" : 640,\n          \"url\" : \"https://i.scdn.co/image/ab67616d0000b273c28103ea43cc2af69495a100\",\n          \"width\" : 640\n        }, {\n          \"height\" : 300,\n          \"url\" : \"https://i.scdn.co/image/ab67616d00001e02c28103ea43cc2af69495a100\",\n          \"width\" : 300\n        }, {\n          \"height\" : 64,\n          \"url\" : \"https://i.scdn.co/image/ab67616d00004851c28103ea43cc2af69495a100\",\n          \"width\" : 64\n        } ],\n        \"name\" : \"Live A Life\",\n        \"release_date\" : \"2012-08-20\",\n        \"release_date_precision\" : \"day\",\n        \"total_tracks\" : 11,\n        \"type\" : \"album\",\n        \"uri\" : \"spotify:album:6PzgoNwxtkG5RA6JsvqGjI\"\n      },\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/5r0xeBSRKRJ5Dm63XzTZhE\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/5r0xeBSRKRJ5Dm63XzTZhE\",\n        \"id\" : \"5r0xeBSRKRJ5Dm63XzTZhE\",\n        \"name\" : \"Endy Chow\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:5r0xeBSRKRJ5Dm63XzTZhE\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n      \"disc_number\" : 1,\n      \"duration_ms\" : 256992,\n      \"explicit\" : false,\n      \"external_ids\" : {\n        \"isrc\" : \"HKA121218023\"\n      },\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/track/0VkeqYWAoz90lMEvmPCi7i\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/tracks/0VkeqYWAoz90lMEvmPCi7i\",\n      \"id\" : \"0VkeqYWAoz90lMEvmPCi7i\",\n      \"is_local\" : false,\n      \"name\" : \"小國英雄\",\n      \"popularity\" : 14,\n      \"preview_url\" : \"https://p.scdn.co/mp3-preview/ed4807e18e116c74ee4b7446797099e050577bd8?cid=9dba056b436d451f93538381e5146ad5\",\n      \"track_number\" : 1,\n      \"type\" : \"track\",\n      \"uri\" : \"spotify:track:0VkeqYWAoz90lMEvmPCi7i\"\n    },\n    \"played_at\" : \"2021-03-06T16:42:09.041Z\",\n    \"context\" : null\n  }, {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"album\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/artist/5r0xeBSRKRJ5Dm63XzTZhE\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/artists/5r0xeBSRKRJ5Dm63XzTZhE\",\n          \"id\" : \"5r0xeBSRKRJ5Dm63XzTZhE\",\n          \"name\" : \"Endy Chow\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:5r0xeBS[...]
