{
  "log": {
    "_recordingName": "test-with-user-play-list-hoc-should-render-without-error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "8291d8f494cb6e7d950fd455cf5c1fbf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api.spotify.com/v1/me/playlists?limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 41229,
            "text": "{\n  \"href\" : \"https://api.spotify.com/v1/users/22ekb6z247ehuekkeofnzwe4y/playlists?offset=0&limit=50\",\n  \"items\" : [ {\n    \"collaborative\" : false,\n    \"description\" : \"\",\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/playlist/1bTZ1OTnP2JP4TM2nNpcqp\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/playlists/1bTZ1OTnP2JP4TM2nNpcqp\",\n    \"id\" : \"1bTZ1OTnP2JP4TM2nNpcqp\",\n    \"images\" : [ {\n      \"height\" : 640,\n      \"url\" : \"https://i.scdn.co/image/ab67616d0000b27334ef8f7d06cf2fc2146f420a\",\n      \"width\" : 640\n    } ],\n    \"name\" : \"Lonely heart club band\",\n    \"owner\" : {\n      \"display_name\" : \"Chor\",\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/user/22ekb6z247ehuekkeofnzwe4y\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/users/22ekb6z247ehuekkeofnzwe4y\",\n      \"id\" : \"22ekb6z247ehuekkeofnzwe4y\",\n      \"type\" : \"user\",\n      \"uri\" : \"spotify:user:22ekb6z247ehuekkeofnzwe4y\"\n    },\n    \"primary_color\" : null,\n    \"public\" : true,\n    \"snapshot_id\" : \"NSw2Y2M1NjllMmQ2MWQwYzIyNzMyZmFlNGFlNmUyNDdjZTk3YzAxNzA3\",\n    \"tracks\" : {\n      \"href\" : \"https://api.spotify.com/v1/playlists/1bTZ1OTnP2JP4TM2nNpcqp/tracks\",\n      \"total\" : 2\n    },\n    \"type\" : \"playlist\",\n    \"uri\" : \"spotify:playlist:1bTZ1OTnP2JP4TM2nNpcqp\"\n  }, {\n    \"collaborative\" : false,\n    \"description\" : \"Containing rarities, outtakes, and alternative performances from the Beatles Anthology series, spanning the entire career of the band.\",\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DX0VXy1CHLBRu\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DX0VXy1CHLBRu\",[...]
