{
  "log": {
    "_recordingName": "test-with-user-play-list-hoc-should-render-without-error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4381,
            "text": "{\n  \"device\" : {\n    \"id\" : \"764c01a617a1d925c1345c0d2b6be6c48eddc386\",\n    \"is_active\" : true,\n    \"is_private_session\" : false,\n    \"is_restricted\" : false,\n    \"name\" : \"David’s MacBook Pro\",\n    \"type\" : \"Computer\",\n    \"volume_percent\" : 43\n  },\n  \"shuffle_state\" : false,\n  \"repeat_state\" : \"context\",\n  \"timestamp\" : 1615728836665,\n  \"context\" : {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/playlist/7oY4n9cdzh1n1imevE68cD\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/playlists/7oY4n9cdzh1n1imevE68cD\",\n    \"type\" : \"playlist\",\n    \"uri\" : \"spotify:user:22ekb6z247ehuekkeofnzwe4y:playlist:7oY4n9cdzh1n1imevE68cD\"\n  },\n  \"progress_ms\" : 157329,\n  \"item\" : {\n    \"album\" : {\n      \"album_type\" : \"compilation\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n        \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n        \"name\" : \"The Beatles\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/album/6126O4XLYAfzU3961ziahP\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/albums/6126O4XLYAfzU3961ziahP\",\n      \"id\" : \"6126O4XLYAfzU3961ziahP\",\n      \"images\" : [ {\n        \"height\" : 640,\n        \"url\" : \"https://i.scdn.co/image/ab67616d0000b2735ef4660298ae29ee18799fc2\",\n        \"width\" : 640\n      }, {\n        \"height\" : 300,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00001e025ef4660298ae29ee18799fc2\",\n        \"width\" : 300\n      }, {\n        \"height\" : 64,\n        \"url\" : \"https://i.scdn.co/image/ab67616d000048515ef4660298ae29ee18799fc2\",\n        \"width\" : 64\n      } ],\n      \"name\" : \"The Beatles 1962 - 1966 (Remastered)\",\n      \"release_date\" : \"1973-04-01\",\n      \"release_date_precision\" : \"day\",\n      \"total_tracks\" : 26,\n      \"type\" : \"album\",\n      \"uri\" : \"spotify:album:6126O4XLYAfzU3961ziahP\"\n    },\n    \"artists\" : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n      \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n      \"name\" : \"The Beatles\",\n      \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n    } ],\n    \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n    \"disc_number\" : 2,\n    \"duration_ms\" : 169613,\n    \"explicit\" : false,\n    \"external_ids\" : {\n      \"isrc\" : \"GBAYE0900590\"\n    },\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/track/3hNUYt4dMM9RhcWmty8oKF\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/tracks/3hNUYt4dMM9RhcWmty8oKF\",\n    \"id\" : \"3hNUYt4dMM9RhcWmty8oKF\",\n    \"is_local\" : false,\n    \"name\" : \"Day Tripper - Remastered 2009\",\n    \"popularity\" : 63,\n    \"preview_url\" : \"https://p.scdn.co/mp3-preview/e919921f2e7794015a6176d0e2cb1bcc0de91c2f?cid=9dba056b436d451f93538381e5146ad5\",\n    \"track_number\" : 4,\n    \"type\" : \"track\",\n    \"uri\" : \"spotify:track:3hNUYt4dMM9RhcWmty8oKF\"\n  },\n  \"currently_playing_type\" : \"track\",\n  \"actions\" : {\n    \"disallows\" : {\n      \"resuming\" : true\n    }\n  },\n  \"is_playing\" : true\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 243,
      },
      {
        "_id": "8291d8f494cb6e7d950fd455cf5c1fbf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api.spotify.com/v1/me/playlists?limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 41852,
            "text": "{\n  \"href\" : \"https://api.spotify.com/v1/users/22ekb6z247ehuekkeofnzwe4y/playlists?offset=0&limit=50\",\n  \"items\" : [ {\n    \"collaborative\" : false,\n    \"description\" : \"\",\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/playlist/1bTZ1OTnP2JP4TM2nNpcqp\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/playlists/1bTZ1OTnP2JP4TM2nNpcqp\",\n    \"id\" : \"1bTZ1OTnP2JP4TM2nNpcqp\",\n    \"images\" : [ {\n      \"height\" : 640,\n      \"url\" : \"https://i.scdn.co/image/ab67616d0000b27334ef8f7d06cf2fc2146f420a\",\n      \"width\" : 640\n    } ],\n    \"name\" : \"Lonely heart club band\",\n    \"owner\" : {\n      \"display_name\" : \"Chor\",\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/user/22ekb6z247ehuekkeofnzwe4y\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/users/22ekb6z247ehuekkeofnzwe4y\",\n      \"id\" : \"22ekb6z247ehuekkeofnzwe4y\",\n      \"type\" : \"user\",\n      \"uri\" : \"spotify:user:22ekb6z247ehuekkeofnzwe4y\"\n    },\n    \"primary_color\" : null,\n    \"public\" : true,\n    \"snapshot_id\" : \"NSw2Y2M1NjllMmQ2MWQwYzIyNzMyZmFlNGFlNmUyNDdjZTk3YzAxNzA3\",\n    \"tracks\" : {\n      \"href\" : \"https://api.spotify.com/v1/playlists/1bTZ1OTnP2JP4TM2nNpcqp/tracks\",\n      \"total\" : 2\n    },\n    \"type\" : \"playlist\",\n    \"uri\" : \"spotify:playlist:1bTZ1OTnP2JP4TM2nNpcqp\"\n  }, {\n    \"collaborative\" : false,\n    \"description\" : \"Containing rarities, outtakes, and alternative performances from the Beatles Anthology series, spanning the entire career of the band.\",\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DX0VXy1CHLBRu\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DX0VXy1CHLBRu\",[...]
