{
  "log": {
    "_recordingName": "use-featured-playlists-get-featured-playlist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "94496c3ca7cbc069fdacad341925bbcd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "08900f9e86c6ea"
            }
          ],
          "url": "https://ipinfo.io/json?token=08900f9e86c6ea"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 242,
            "text": "{\n  \"ip\": \"219.77.42.120\",\n  \"hostname\": \"n219077042120.netvigator.com\",\n  \"city\": \"Hong Kong\",\n  \"region\": \"Central and Western\",\n  \"country\": \"HK\",\n  \"loc\": \"22.2783,114.1747\",\n  \"org\": \"AS4760 HKT Limited\",\n  \"timezone\": \"Asia/Hong_Kong\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 208,
      },
      {
        "_id": "2e0b7671de2c19733afc1a465b4aec8a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "country",
              "value": "HK"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "locale",
              "value": "en_US"
            }
          ],
          "url": "https://api.spotify.com/v1/browse/featured-playlists?country=HK&limit=50&locale=en_US"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 17978,
            "text": "{\n  \"message\" : \"Almost the Weekend ～ 快到週末了\",\n  \"playlists\" : {\n    \"href\" : \"https://api.spotify.com/v1/browse/featured-playlists?country=HK&locale=en_us&timestamp=2021-02-12T15%3A08%3A04&offset=0&limit=50\",\n    \"items\" : [ {\n      \"collaborative\" : false,\n      \"description\" : \"新造型，新發行的最佳歌曲都在這裡，而且每週更新! Cover: Dua Lipa\",\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DXbVmhQBDSKS7\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DXbVmhQBDSKS7\",\n      \"id\" : \"37i9dQZF1DXbVmhQBDSKS7\",\n      \"images\" : [ {\n        \"height\" : null,\n        \"url\" : \"https://i.scdn.co/image/ab67706f00000003bad57e4742aaf1944e432696\",\n        \"width\" : null\n      } ],\n      \"name\" : \"新歌熱播\",\n      \"owner\" : {\n        \"display_name\" : \"Spotify\",\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/user/spotify\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/users/spotify\",\n        \"id\" : \"spotify\",\n        \"type\" : \"user\",\n        \"uri\" : \"spotify:user:spotify\"\n      },\n      \"primary_color\" : null,\n      \"public\" : null,\n      \"snapshot_id\" : \"MTYxMzA4NDQ2MCwwMDAwMDVjYzAwMDAwMTc3OTM1Mzg1NmQwMDAwMDE3NzkxZjhiNjAy\",\n      \"tracks\" : {\n        \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DXbVmhQBDSKS7/tracks\",\n        \"total\" : 65\n      },\n      \"type\" : \"playlist\",\n      \"uri\" : \"spotify:playlist:37i9dQZF1DXbVmhQBDSKS7\"\n    }, {\n      \"collaborative\" : false,\n      \"description\" : \"當代香港流行曲盡在此處，值得細味珍藏! Cover: ‎G.E.M.\",\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DWVImURhejvlp\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DWVImURhejvlp\",\n      \"id\" : \"37i9dQZF1DWVImURhejvlp\",\n      \"images\" : [ {\n        \[...]
