{
  "log": {
    "_recordingName": "use-featured-playlists-get-featured-playlist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 60,
      },
      {
        "_id": "94496c3ca7cbc069fdacad341925bbcd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "08900f9e86c6ea"
            }
          ],
          "url": "https://ipinfo.io/json?token=08900f9e86c6ea"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 242,
            "text": "{\n  \"ip\": \"219.77.42.120\",\n  \"hostname\": \"n219077042120.netvigator.com\",\n  \"city\": \"Hong Kong\",\n  \"region\": \"Central and Western\",\n  \"country\": \"HK\",\n  \"loc\": \"22.2783,114.1747\",\n  \"org\": \"AS4760 HKT Limited\",\n  \"timezone\": \"Asia/Hong_Kong\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 217,
      },
      {
        "_id": "f83dc858f2e1f629883cd0d9e2d9e40d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
    [...]
