{
  "log": {
    "_recordingName": "use-featured-playlists-get-featured-playlist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "94496c3ca7cbc069fdacad341925bbcd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "08900f9e86c6ea"
            }
          ],
          "url": "https://ipinfo.io/json?token=08900f9e86c6ea"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 242,
            "text": "{\n  \"ip\": \"219.77.42.120\",\n  \"hostname\": \"n219077042120.netvigator.com\",\n  \"city\": \"Hong Kong\",\n  \"region\": \"Central and Western\",\n  \"country\": \"HK\",\n  \"loc\": \"22.2783,114.1747\",\n  \"org\": \"AS4760 HKT Limited\",\n  \"timezone\": \"Asia/Hong_Kong\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 185,
      },
      {
        "_id": "2e0b7671de2c19733afc1a465b4aec8a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "country",
              "value": "HK"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "locale",
              "value": "en_US"
            }
          ],
          "url": "https://api.spotify.com/v1/browse/featured-playlists?country=HK&limit=50&locale=en_US"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 18009,
            "text": "{\n  \"message\" : \"Keep your energy up with the latest hits\",\n  \"playlists\" : {\n    \"href\" : \"https://api.spotify.com/v1/browse/featured-playlists?country=HK&locale=en_us&timestamp=2021-02-06T15%3A03%3A11&offset=0&limit=50\",\n    \"items\" : [ {\n      \"collaborative\" : false,\n      \"description\" : \"用最激昂的嗓音，唱出最熟悉的歌詞，令所有朋友都聽出耳油！\",\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DX54hVmopd3Yt\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DX54hVmopd3Yt\",\n      \"id\" : \"37i9dQZF1DX54hVmopd3Yt\",\n      \"images\" : [ {\n        \"height\" : null,\n        \"url\" : \"https://i.scdn.co/image/ab67706f0000000331c7cf3911e2ef1f80432e48\",\n        \"width\" : null\n      } ],\n      \"name\" : \"唱K熱榜\",\n      \"owner\" : {\n        \"display_name\" : \"Spotify\",\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/user/spotify\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/users/spotify\",\n        \"id\" : \"spotify\",\n        \"type\" : \"user\",\n        \"uri\" : \"spotify:user:spotify\"\n      },\n      \"primary_color\" : null,\n      \"public\" : null,\n      \"snapshot_id\" : \"MTYxMjYyMzc5MSwwMDAwMDAwMGQ0MWQ4Y2Q5OGYwMGIyMDRlOTgwMDk5OGVjZjg0Mjdl\",\n      \"tracks\" : {\n        \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DX54hVmopd3Yt/tracks\",\n        \"total\" : 51\n      },\n      \"type\" : \"playlist\",\n      \"uri\" : \"spotify:playlist:37i9dQZF1DX54hVmopd3Yt\"\n    }, {\n      \"collaborative\" : false,\n      \"description\" : \"新造型，新發行的最佳歌曲都在這裡，而且每週更新! Cover: 林奕匡\",\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DXbVmhQBDSKS7\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DXbVmhQBDSKS7\",\n      \"id\" : \"37i9dQZF1DXbVmhQBDSKS7\",\n      \"images\" : [ {\n        [...]
