{
  "log": {
    "_recordingName": "return-playlist-of-user-by-last-played-track",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "40fb882d8716de88a1893dd32558060d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player/recently-played?limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 201748,
            "text": "{\n  \"items\" : [ {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"compilation\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n          \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n          \"name\" : \"The Beatles\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n        } ],\n        \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/album/1pBBIxK5yURfbv8Xd5lta1\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/albums/1pBBIxK5yURfbv8Xd5lta1\",\n        \"id\" : \"1pBBIxK5yURfbv8Xd5lta1\",\n        \"images\" : [ {\n          \"height\" : 640,\n          \"url\" : \"https://i.scdn.co/image/ab67616d0000b2730783cc5a58376729af0c9812\",\n          \"width\" : 640\n        }, {\n          \"height\" : 300,\n          \"url\" : \"https://i.scdn.co/image/ab67616d00001e020783cc5a58376729af0c9812\",\n          \"width\" : 300\n        }, {\n          \"height\" : 64,\n          \"url\" : \"https://i.scdn.co/image/ab67616d000048510783cc5a58376729af0c9812\",\n          \"width\" : 64\n        } ],\n        \"name\" : \"Anthology 1\",\n        \"release_date\" : \"1995-11-20\",\n        \"release_date_precision\" : \"day\",\n        \"total_tracks\" : 60,\n        \"type\" : \"album\",\n        \"uri\" : \"spotify:album:1pBBIxK5yURfbv8Xd5lta1\"\n      },\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/2A3KGd7NkgkLzqudWj7jbc\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/2A3KGd7NkgkLzqudWj7jbc\",\n        \"id\" : \"2A3KGd7NkgkLzqudWj7jbc\",\n        \"name\" : \"Brian Epstein\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:2A3KGd7NkgkLzqudWj7jbc\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n      \"disc_number\" : 1,\n      \"duration_ms\" : 18506,\n      \"explicit\" : false,\n      \"external_ids\" : {\n        \"isrc\" : \"GBDCE1100056\"\n      },\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/track/61F4EPgoE2ovTtZixh3pVm\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/tracks/61F4EPgoE2ovTtZixh3pVm\",\n      \"id\" : \"61F4EPgoE2ovTtZixh3pVm\",\n      \"is_local\" : false,\n      \"name\" : \"I Secured Them... A Beatle Drink Even Then - Anthology 1 Version\",\n      \"popularity\" : 0,\n      \"preview_url\" : null,\n      \"track_number\" : 14,\n      \"type\" : \"track\",\n      \"uri\" : \"spotify:track:61F4EPgoE2ovTtZixh3pVm\"\n    },\n    \"played_at\" : \"2021-02-06T13:56:41.528Z\",\n    \"context\" : {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/album/1pBBIxK5yURfbv8Xd5lta1\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/albums/1pBBIxK5yURfbv8Xd5lta1\",\n      \"type\" : \"album\",\n      \"uri\" : \"spotify:album:1pBBIxK5yURfbv8Xd5lta1\"\n    }\n  }, {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"compilation\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.co[...]
