{
  "log": {
    "_recordingName": "return-playlist-of-user-by-last-played-track",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 60,
      },
      {
        "_id": "40fb882d8716de88a1893dd32558060d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player/recently-played?limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 202649,
            "text": "{\n  \"items\" : [ {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"album\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n          \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n          \"name\" : \"The Beatles\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n        } ],\n        \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/album/3KzAvEXcqJKBF97HrXwlgf\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/albums/3KzAvEXcqJKBF97HrXwlgf\",\n        \"id\" : \"3KzAvEXcqJKBF97HrXwlgf\",\n        \"images\" : [ {\n          \"height\" : 640,\n          \"url\" : \"https://i.scdn.co/image/ab67616d0000b273dbeec63ad914c973e75c24df\",\n          \"width\" : 640\n        }, {\n          \"height\" : 300,\n          \"url\" : \"https://i.scdn.co/image/ab67616d00001e02dbeec63ad914c973e75c24df\",\n          \"width\" : 300\n        }, {\n          \"height\" : 64,\n          \"url\" : \"https://i.scdn.co/image/ab67616d00004851dbeec63ad914c973e75c24df\",\n          \"width\" : 64\n        } ],\n        \"name\" : \"Please Please Me (Remastered)\",\n        \"release_date\" : \"1963-03-22\",\n        \"release_date_precision\" : \"day\",\n        \"total_tracks\" : 14,\n        \"type\" : \"album\",\n        \"uri\" : \"spotify:album:3KzAvEXcqJKBF97HrXwlgf\"\n      },\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n        \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n        \"name\" : \"The Beatles\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n      \"disc_number\" : 1,\n      \"duration_ms\" : 173946,\n      \"explicit\" : false,\n      \"external_ids\" : {\n        \"isrc\" : \"GBAYE0601410\"\n      },\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/track/3KiexfmhxHvG5IgAElmTkd\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/tracks/3KiexfmhxHvG5IgAElmTkd\",\n      \"id\" : \"3KiexfmhxHvG5IgAElmTkd\",\n      \"is_local\" : false,\n      \"name\" : \"I Saw Her Standing There - Remastered 2009\",\n      \"popularity\" : 69,\n      \"preview_url\" : \"https://p.scdn.co/mp3-preview/a4d434ad1d3143f7d37630d66fc8793c9f42c9c6?cid=9dba056b436d451f93538381e5146ad5\",\n      \"track_number\" : 1,\n      \"type\" : \"track\",\n      \"uri\" : \"spotify:track:3KiexfmhxHvG5IgAElmTkd\"\n    },\n    \"played_at\" : \"2021-03-27T14:18:09.124Z\",\n    \"context\" : {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/playlist/7oY4n9cdzh1n1imevE68cD\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/playlists/7oY4n9cdzh1n1imevE68cD\",\n      \"type\" : \"playlist\",\n      \"uri\" : \"spotify:playlist:7oY4n9cdzh1n1imevE68cD\"\n    }\n  }, {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"album\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spot[...]
