{
  "log": {
    "_recordingName": "use-top-streaming-report-fetch-top-steaming-report-from-backing-api",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4365,
            "text": "{\n  \"device\" : {\n    \"id\" : \"764c01a617a1d925c1345c0d2b6be6c48eddc386\",\n    \"is_active\" : true,\n    \"is_private_session\" : false,\n    \"is_restricted\" : false,\n    \"name\" : \"David’s MacBook Pro\",\n    \"type\" : \"Computer\",\n    \"volume_percent\" : 43\n  },\n  \"shuffle_state\" : false,\n  \"repeat_state\" : \"context\",\n  \"timestamp\" : 1615729006667,\n  \"context\" : {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/playlist/7oY4n9cdzh1n1imevE68cD\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/playlists/7oY4n9cdzh1n1imevE68cD\",\n    \"type\" : \"playlist\",\n    \"uri\" : \"spotify:user:22ekb6z247ehuekkeofnzwe4y:playlist:7oY4n9cdzh1n1imevE68cD\"\n  },\n  \"progress_ms\" : 18313,\n  \"item\" : {\n    \"album\" : {\n      \"album_type\" : \"album\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n        \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n        \"name\" : \"The Beatles\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/album/7vEJAtP3KgKSpOHVgwm3Eh\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/albums/7vEJAtP3KgKSpOHVgwm3Eh\",\n      \"id\" : \"7vEJAtP3KgKSpOHVgwm3Eh\",\n      \"images\" : [ {\n        \"height\" : 640,\n        \"url\" : \"https://i.scdn.co/image/ab67616d0000b273582d56ce20fe0146ffa0e5cf\",\n        \"width\" : 640\n      }, {\n        \"height\" : 300,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00001e02582d56ce20fe0146ffa0e5cf\",\n        \"width\" : 300\n      }, {\n        \"height\" : 64,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00004851582d56ce20fe0146ffa0e5cf\",\n        \"width\" : 64\n      } ],\n      \"name\" : \"1 (Remastered)\",\n      \"release_date\" : \"2000-11-13\",\n      \"release_date_precision\" : \"day\",\n      \"total_tracks\" : 27,\n      \"type\" : \"album\",\n      \"uri\" : \"spotify:album:7vEJAtP3KgKSpOHVgwm3Eh\"\n    },\n    \"artists\" : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n      \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n      \"name\" : \"The Beatles\",\n      \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n    } ],\n    \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n    \"disc_number\" : 1,\n    \"duration_ms\" : 145746,\n    \"explicit\" : false,\n    \"external_ids\" : {\n      \"isrc\" : \"GBUM71505904\"\n    },\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/track/4pbG9SUmWIvsROVLF0zF9s\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/tracks/4pbG9SUmWIvsROVLF0zF9s\",\n    \"id\" : \"4pbG9SUmWIvsROVLF0zF9s\",\n    \"is_local\" : false,\n    \"name\" : \"I Want To Hold Your Hand - Remastered 2015\",\n    \"popularity\" : 72,\n    \"preview_url\" : \"https://p.scdn.co/mp3-preview/d7e6b26957825e64b3546bd7365b74baa1ce3046?cid=9dba056b436d451f93538381e5146ad5\",\n    \"track_number\" : 4,\n    \"type\" : \"track\",\n    \"uri\" : \"spotify:track:4pbG9SUmWIvsROVLF0zF9s\"\n  },\n  \"currently_playing_type\" : \"track\",\n  \"actions\" : {\n    \"disallows\" : {\n      \"resuming\" : true\n    }\n  },\n  \"is_playing\" : true\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 84,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
