{
  "log": {
    "_recordingName": "return-playlist-of-user-by-last-played-artist",
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 126,
      },
      {
        "_id": "40fb882d8716de88a1893dd32558060d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player/recently-played?limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 253041,
            "text": "{\n  \"items\" : [ {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"album\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/artist/568ZhdwyaiCyOGJRtNYhWf\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/artists/568ZhdwyaiCyOGJRtNYhWf\",\n          \"id\" : \"568ZhdwyaiCyOGJRtNYhWf\",\n          \"name\" : \"Deep Purple\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:568ZhdwyaiCyOGJRtNYhWf\"\n        } ],\n        \"available_markets\" : [ \"AD\", \"AE\", \"AG\", \"AL\", \"AM\", \"AO\", \"AR\", \"AT\", \"AU\", \"AZ\", \"BA\", \"BB\", \"BD\", \"BE\", \"BF\", \"BG\", \"BH\", \"BI\", \"BJ\", \"BN\", \"BO\", \"BR\", \"BS\", \"BT\", \"BW\", \"BY\", \"BZ\", \"CH\", \"CI\", \"CL\", \"CM\", \"CO\", \"CR\", \"CV\", \"CW\", \"CY\", \"CZ\", \"DE\", \"DJ\", \"DK\", \"DM\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FJ\", \"FM\", \"FR\", \"GA\", \"GB\", \"GD\", \"GE\", \"GH\", \"GM\", \"GN\", \"GQ\", \"GR\", \"GT\", \"GW\", \[...]
