{
  "log": {
    "_recordingName": "return-playlist-of-user-by-top-artist",
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 125,
      },
      {
        "_id": "ea814e66fed4ce7696187530b2ea2e49",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "time_range",
              "value": "short_term"
            }
          ],
          "url": "https://api.spotify.com/v1/me/top/artists?limit=50&time_range=short_term"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 7102,
            "text": "{\n  \"items\" : [ {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n    },\n    \"followers\" : {\n      \"href\" : null,\n      \"total\" : 20585042\n    },\n    \"genres\" : [ \"beatlesque\", \"british invasion\", \"classic rock\", \"merseybeat\", \"psychedelic rock\", \"rock\" ],\n    \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n    \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n    \"images\" : [ {\n      \"height\" : 640,\n      \"url\" : \"https://i.scdn.co/image/ab6761610000e5ebe9348cc01ff5d55971b22433\",\n      \"width\" : 640\n    }, {\n      \"height\" : 320,\n      \"url\" : \"https://i.scdn.co/image/ab67616100005174e9348cc01ff5d55971b22433\",\n      \"width\" : 320\n    }, {\n      \"height\" : 160,\n      \"url\" : \"https://i.scdn.co/image/ab6761610000f178e9348cc01ff5d55971b22433\",\n      \"width\" : 160\n    } ],\n    \"name\" : \"The Beatles\",\n    \"popularity\" : 86,\n    \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n  }, {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/2DUtkZYBQDfaBgJFFTIp5O\"\n    },\n    \"followers\" : {\n      \"href\" : null,\n      \"total\" : 8270\n    },\n    \"genres\" : [ \"hong kong hip hop\" ],\n    \"href\" : \"https://api.spotify.com/v1/artists/2DUtkZYBQDfaBgJFFTIp5O\",\n    \"id\" : \"2DUtkZYBQDfaBgJFFTIp5O\",\n    \"images\" : [ {\n      \"height\" : 640,\n      \"url\" : \"https://i.scdn.co/image[...]
