{
  "log": {
    "_recordingName": "test-fetch-top-stream-report-fetch-csv-from-spotify-charts-and-transform-to-json",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "2f1c71f1b1f3f22955f92a7fba9130e2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://spotifycharts.com/regional/hk/weekly/latest/download"
        },
        "response": {
          "content": {
            "mimeType": "text/csv;charset=UTF-8",
            "size": 19092,
            "text": ",,,\"Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.\",\nPosition,\"Track Name\",Artist,Streams,URL\n1,\"On The Ground\",ROSÉ,185274,https://open.spotify.com/track/2pn8dNVSpYnAtlKFC8Q0DJ\n2,\"Peaches (feat. Daniel Caesar & Giveon)\",\"Justin Bieber\",156584,https://open.spotify.com/track/4iJyoBOLtHqaGxP12qzhQI\n3,\"Leave The Door Open\",\"Bruno Mars\",130503,https://open.spotify.com/track/7MAibcTli4IisCtbHKrGMh\n4,時光倒流一句話[...]
