{
  "log": {
    "_recordingName": "return-playlist-info",
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 121,
      },
      {
        "_id": "f9fd302d567fec47f9ec040df0b2060c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.spotify.com/v1/playlists/37i9dQZF1DXdLtD0qszB1w"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 336803,
            "text": "{\n  \"collaborative\" : false,\n  \"description\" : \"Come together to listen to their greatest hits.\",\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DXdLtD0qszB1w\"\n  },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 2776536\n  },\n  \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DXdLtD0qszB1w\",\n  \"id\" : \"37i9dQZF1DXdLtD0qszB1w\",\n  \"images\" : [ {\n    \"height\" : null,\n    \"url\" : \"https://i.scdn.co/image/ab67706f00000003ed3a8bb5b72ab5ccbf5834b8\",\n    \"width\" : null\n  } ],\n  \"name\" : \"This Is The Beatles\",\n  \"owner\" : {\n    \"display_name\" : \"Spotify\",\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/user/spotify\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/users/spotify\",\n    \"id\" : \"spotify\",\n    \"type\" : \"user\",\n    \"uri\" : \"spotify:user:spotify\"\n  },\n  \"primary_color\" : \"#ffffff\",\n  \"public\" : true,\n  \"snapshot_id\" : \"MTYzMDA3ODQyMiwwMDAwMDAzMzAwMDAwMTdiODgzZWNkZTUwMDAwMDE2ZDE1NGRhYzYz\",\n  \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DXdLtD0qszB1w/tracks?offset=0&limit=100\",\n    \"items\" : [ {\n      \"added_at\" : \"2021-08-27T15:33:42Z\",\n      \"added_by\" : {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/user/\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/users/\",\n        \"id\" : \"\",\n        \"type\" : \"user\",\n        \"uri\" : \"spotify:user:\"\n      },\n      \"is_local\" : false,\n      \"primary_color\" : null,\n      \"track\" : {\n        \"album\" : {\n          \"album_type\" : \"album\",\n          \"artists\" : [ {\n            \"external_urls\" : {\n              \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n            },\n            \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n            \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n            \"name\" : \"The Beatles\",\n            \"type\" : \"artist\",\n            \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n          } ],\n          \"available_markets\" : [ ],\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/album/19K3IHYeVkUTjcBHGfbCOi\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/albums/19K3IHYeVkUTjcBHGfbCOi\",\n          \"id\" : \"19K3IHYeVkUTjcBHGfbCOi\",\n          \"images\" : [ {\n            \"height\" : 640,\n            \"url\" : \"https://i.scdn.co/image/ab67616d0000b273d967cd10468b9cf4e6bdfc7b\",\n            \"width\" : 640\n          }, {\n            \"height\" : 300,\n            \"url\" : \"https://i.scdn.co/image/ab67616d00001e02d967cd10468b9cf4e6bdfc7b\",\n            \"width\" : 300\n          }, {\n            \"height\" : 64,\n            \"url\" : \"https://i.scdn.co/image/ab67616d00004851d967cd10468b9cf4e6bdfc7b\",\n            \"width\" : 64\n          } ],\n          \"name\" : \"Help! (Remastered)\",\n          \"release_date\" : \"1965-08-06\",\n          \"release_date_precision\" : \"day\",\n          \"total_tracks\" : 14,\n          \"type\" : \"album\",\n          \"uri\" : \"spotify:album:19K3IHYeVkUTjcBHGfbCOi\"\n        },\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n          \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n          \"name\" : \"The Beatles\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n        } ],\n        \"available_markets\" : [ ],\n        \"disc_number\" : 1,\n        \"duration_ms\" : 125666,\n        \"episode\" : false,\n        \"explicit\" : false,\n        \"external_ids\" : {\n          \"isrc\" : \"GBAYE0601477\"\n        },\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/track/1e0hllQ23AG0QGFgezgLOq\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/tracks/1e0hllQ23AG0QGFgezgLOq\",\n        \"id\" : \"1e0hllQ23AG0QGFgezgLOq\",\n        \"is_local\" : false,\n        \"name\" : \"Yesterday - Remastered\",\n        \"popularity\" : 0,\n        \"preview_url\" : null,\n        \"track\" : true,\n        \"track_number\" : 13,\n        \"type\" : \"track\",\n        \"uri\" : \"spotify:track:1e0hllQ23AG0QGFgezgLOq\"\n      },\n      \"video_thumbnail\" : {\n        \"url\" : null\n      }\n    }, {\n      \"added_at\" : \"2021-08-27T15:33:42Z\",\n      \"added_by\" : {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/user/\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/users/\",\n        \"id\" : \"\",\n        \"type\" : \"user\",\n        \"uri\" : \"spotify:user:\"\n      },\n      \"is_local\" : false,\n      \"primary_color\" : null,\n      \"track\" : {\n        \"album\" : {\n          \"[...]
