{
  "log": {
    "_recordingName": "use-spotify-api-client-throw-exception-if-sing-token-always-error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\n  \"error\": {\n    \"status\": 401,\n    \"message\": \"Invalid access token\"\n  }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 56,
      },
      {
        "_id": "62b43176ddbd493d0dffd74d6265481f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.spotify.com/v1/fake-endpoint"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\n  \"error\": {\n    \"status\": 401,\n    \"message\": \"Invalid access token\"\n  }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 73,
      },
      {
        "_id": "110599e220c8f5dbaa7a850e2cfed6f5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=utf-8",
            "params": [],
            "text": "client_id=9dba056b436d451f93538381e5146ad5&grant_type=refresh_token&refresh_token=fakeRefreshToken"
          },
          "queryString": [],
          "url": "https://accounts.spotify.com/api/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 69,
            "text": "{\"error\":\"invalid_grant\",\"error_description\":\"Invalid refresh token\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 61,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
