{
  "log": {
    "_recordingName": "test-use-top-streaming-album-fetch-track-report-and-the-get-track-details-to-show-albumn",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "94496c3ca7cbc069fdacad341925bbcd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "08900f9e86c6ea"
            }
          ],
          "url": "https://ipinfo.io/json?token=08900f9e86c6ea"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 242,
            "text": "{\n  \"ip\": \"219.77.42.120\",\n  \"hostname\": \"n219077042120.netvigator.com\",\n  \"city\": \"Hong Kong\",\n  \"region\": \"Central and Western\",\n  \"country\": \"HK\",\n  \"loc\": \"22.2783,114.1747\",\n  \"org\": \"AS4760 HKT Limited\",\n  \"timezone\": \"Asia/Hong_Kong\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 266,
      },
      {
        "_id": "7b6079a07c7eb9d2b5994f00c0b9745e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "ids",
              "value": "32QnXosZq7A11knnBAEqk7,63QmxPL3QlchvXcHLsI6UM,4xL01OuFjqizPDclF8gDpl,7lPN2DXiMsVn7XUKtOW1CS,0Q3jOuEpx8Esi2qZMQSghl,3OC84eKMxRJ4x0Hcw[...]
