{
  "log": {
    "_recordingName": "Category not exist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "e1237cddc0db9ffd1a2d39b1706ddda9",
        "request": {
          "headers": [
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://api.spotify.com/v1/browse/categories/fjlajfklajlk"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 91,
      },
      {
        "_id": "1b510cb9f3149f468a9472b9b4037303",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer BQAOAzckE0RZVSxh-gAG_kH0g9xbbI4w5NLA8krQDUAi_vclPY7m5yx7yY7q_v7r_dFuxWHzDnlPERRxtUNQI__3FKixpTHx943iejeT9VnYq8OdM39VhigrFQCIq52oNqgT-KCXfGqx7T7dAZ3FecFwGtWe1Rb9tY9VEIyEjs8v0SP5OQRTxm7LjFIwbMubd6lR5PgyhhLncnL1IbhlH-N1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.spotify.com/v1/browse/categories/fjlajfklajlk"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 213,
            "text": "[\"1f\",\"8b\",\"08\",\"00000000000000aae65250504a2d2aca2f5252b052a806f280fce292c492d26290808981890e442c37b5b838313d1524a8145c909a9c9996999aa29099a290929f5a9ca75ea2905a91595ca204545ccb550b000000ffff030027833a3656000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 104,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
