{
  "log": {
    "_recordingName": "test-use-album-fetch-the-album",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b8a464c3097e059b74d4dfe0bd44f9a6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.spotify.com/v1/albums/6P5QHz4XtxOmS5EuiGIPut"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 18411,
            "text": "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/36QJpDe2go2KgaRleHCDTp\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/artists/36QJpDe2go2KgaRleHCDTp\",\n    \"id\" : \"36QJpDe2go2KgaRleHCDTp\",\n    \"name\" : \"Led Zeppelin\",\n    \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:36QJpDe2go2KgaRleHCDTp\"\n  } ],\n  \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KR\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n  \"copyrights\" : [ {\n    \"text\" : \"© 1970 Atlantic Recording Corporation, a Warner Music Group Company. Marketed by Rhino Entertainment Company, a Warner Music Group Company.\",\n    \"type\" : \"C\"\n  }, {\n    \"text\" : \"℗ 1970 Atlantic Recording Corporation, a Warner Music Group Company. Marketed by Rhino Entertainment Company, a Warner Music Group Company.\",\n    \"type\" : \"P\"\n  } ],\n  \"external_ids\" : {\n    \"upc\" : \"603497900817\"\n  },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/album/6P5QHz4XtxOmS5EuiGIPut\"\n  },\n  \"genres\" : [ ],\n  \"href\" : \"https://api.spotify.com/v1/albums/6P5QHz4XtxOmS5EuiGIPut\",\n  \"id\" : \"6P5QHz4XtxOmS5EuiGIPut\",\n  \"images\" : [ {\n    \"height\" : 640,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000b27390a50cfe99a4c19ff3cbfbdb\",\n    \"width\" : 640\n  }, {\n    \"height\" : 300,\n    \"url\" : \"https://i.scdn.co/image/ab67616d00001e0290a50cfe99a4c19ff3cbfbdb\",\n    \"width\" : 300\n  }, {\n    \"height\" : 64,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000485190a50cfe99a4c19ff3cbfbdb\",\n    \"width\" : 64\n  } ],\n  \"label\" : \"Atlantic Records\",\n  \"name\" : \"Led Zeppelin III (Remaster)\",\n  \"popularity\" : 75,\n  \"release_date\" : \"1970\",\n  \"release_date_precision\" : \"year\",\n  \"total_tracks\" : 10,\n  \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/albums/6P5QHz4XtxOmS5EuiGIPut/tracks?offset=0&limit=50\",\n    \"items\" : [ {\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/36QJpDe2go2KgaRleHCDTp\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/36QJpDe2go2KgaRleHCDTp\",\n        \"id\" : \"36QJpDe2go2KgaRleHCDTp\",\n        \"name\" : \"Led Zeppelin\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:36QJpDe2go2KgaRleHCDTp\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KR\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n      \"disc_number\" : 1,\n      \"duration_ms\" : 146250,\n      \"explicit\" : false,\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/track/78lgmZwycJ3nzsdgmPPGNx\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/tracks/78lgmZwycJ3nzsdgmPPGNx\",\n      \"id\" : \"78lgmZwycJ3nzsdgmPPGNx\",\n      \"is_local\" : false,\n      \"name\" : \"Immigrant Song - Remaster\",\n      \"preview_url\" : \"https://p.scdn.co/mp3-preview/8455599677a13017978dcd3f4b210937f0a16bcb?cid=9dba056b436d451f93538381e5146ad5\",\n      \"track_number\" : 1,\n      \"type\" : \"track\",\n      \"uri\" : \"spotify:track:78lgmZwycJ3nzsdgmPPGNx\"\n    }, {\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/36QJpDe2go2KgaRleHCDTp\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/36QJpDe2go2KgaRleHCDTp\",\n        \"id\" : \"36QJpDe2go2KgaRleHCDTp\",\n        \"name\" : \"Led Zeppelin\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:36QJpDe2go2K[...]
