{
  "log": {
    "_recordingName": "return-playlist-of-user-by-top-track",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 67,
      },
      {
        "_id": "c3f7fddc46cfeba15dd3cdbbade48499",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "time_range",
              "value": "short_term"
            }
          ],
          "url": "https://api.spotify.com/v1/me/top/tracks?limit=50&time_range=short_term"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 169880,
            "text": "{\n  \"items\" : [ {\n    \"album\" : {\n      \"album_type\" : \"ALBUM\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/568ZhdwyaiCyOGJRtNYhWf\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/568ZhdwyaiCyOGJRtNYhWf\",\n        \"id\" : \"568ZhdwyaiCyOGJRtNYhWf\",\n        \"name\" : \"Deep Purple\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:568ZhdwyaiCyOGJRtNYhWf\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\", \"AU\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\", \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UY\", \"VN\", \"ZA\" ],\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/album/32NQ56VZDTXSH3SMv4XSGN\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/albums/32NQ56VZDTXSH3SMv4XSGN\",\n      \"id\" : \"32NQ56VZDTXSH3SMv4XSGN\",\n      \"images\" : [ {\n        \"height\" : 640,\n        \"url\" : \"https://i.scdn.co/image/ab67616d0000b273a729c9c3dec04b99d889c66f\",\n        \"width\" : 640\n      }, {\n        \"height\" : 300,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00001e02a729c9c3dec04b99d889c66f\",\n        \"width\" : 300\n      }, {\n        \"height\" : 64,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00004851a729c9c3dec04b99d889c66f\",\n        \"width\" : 64\n      } ],\n      \"name\" : \"Machine Head (Remastered)\",\n      \"release_date\" : \"1972-03-25\",\n      \"release_date_precision\" : \"day\",\n      \"total_tracks\" : 8,\n      \"type\" : \"album\",\n      \"uri\" : \"spotify:album:32NQ56VZDTXSH3SMv4XSGN\"\n    },\n    \"artists\" : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/568ZhdwyaiCyOGJRtNYhWf\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/artists/568ZhdwyaiCyOGJRtNYhWf\",\n      \"id\" : \"568ZhdwyaiCyOGJRtNYhWf\",\n      \"name\" : \"Deep Purple\",\n      \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:568ZhdwyaiCyOGJRtNYhWf\"\n    } ],\n    \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\", \"AU\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\", \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UY\", \"VN\", \"ZA\" ],\n    \"disc_number\" : 1,\n    \"duration_ms\" : 366136,\n    \"explicit\" : false,\n    \"external_ids\" : {\n      \"isrc\" : \"GBDXG1200002\"\n    },\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/track/3uMmllZo1AfoEnVT4ENCD3\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/tracks/3uMmllZo1AfoEnVT4ENCD3\",\n    \"id\" : \"3uMmllZo1AfoEnVT4ENCD3\",\n    \"is_local\" : false,\n    \"name\" : \"Highway Star - Remastered 2012\",\n    \"popularity\" : 66,\n    \"preview_url\" : \"https://p.scdn.co/mp3-preview/a4a05a5a9294ba9be73ea1e7dbc7d96b6448cf96?cid=9dba056b436d451f93538381e5146ad5\",\n    \"track_number\" : 1,\n    \"type\" : \"track\",\n    \"uri\" : \"spotify:track:3uMmllZo1AfoEnVT4ENCD3\"\n  }, {\n    \"album\" : {\n      \"album_type\" : \"ALBUM\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n        \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n        \"name\" : \"The Beatles\",\n        \"type\" : \"artist\",\n[...]
