{
  "log": {
    "_recordingName": "return-playlist-of-user-by-top-track",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c3f7fddc46cfeba15dd3cdbbade48499",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "time_range",
              "value": "short_term"
            }
          ],
          "url": "https://api.spotify.com/v1/me/top/tracks?limit=50&time_range=short_term"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 169062,
            "text": "{\n  \"items\" : [ {\n    \"album\" : {\n      \"album_type\" : \"ALBUM\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n        \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n        \"name\" : \"The Beatles\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\", \"AU\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\", \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"US\", \"UY\", \"VN\", \"ZA\" ],\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/album/3KzAvEXcqJKBF97HrXwlgf\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/albums/3KzAvEXcqJKBF97HrXwlgf\",\n      \"id\" : \"3KzAvEXcqJKBF97HrXwlgf\",\n      \"images\" : [ {\n        \"height\" : 640,\n        \"url\" : \"https://i.scdn.co/image/ab67616d0000b273dbeec63ad914c973e75c24df\",\n        \"width\" : 640\n      }, {\n        \"height\" : 300,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00001e02dbeec63ad914c973e75c24df\",\n        \"width\" : 300\n      }, {\n        \"height\" : 64,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00004851dbeec63ad914c973e75c24df\",\n        \"width\" : 64\n      } ],\n      \"name\" : \"Please Please Me (Remastered)\",\n      \"release_date\" : \"1963-03-22\",\n      \"release_date_precision\" : \"day\",\n      \"total_tracks\" : 14,\n      \"type\" : \"album\",\n      \"uri\" : \"spotify:album:3KzAvEXcqJKBF97HrXwlgf\"\n    },\n    \"artists\" : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n      \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n      \"name\" : \"The Beatles\",\n      \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n    } ],\n    \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\", \"AU\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\", \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"US\", \"UY\", \"VN\", \"ZA\" ],\n    \"disc_number\" : 1,\n    \"duration_ms\" : 155226,\n    \"explicit\" : false,\n    \"external_ids\" : {\n      \"isrc\" : \"GBAYE0601423\"\n    },\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/track/5ZBeML7Lf3FMEVviTyvi8l\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/tracks/5ZBeML7Lf3FMEVviTyvi8l\",\n    \"id\" : \"5ZBeML7Lf3FMEVviTyvi8l\",\n    \"is_local\" : false,\n    \"name\" : \"Twist And Shout - Remastered 2009\",\n    \"popularity\" : 72,\n    \"preview_url\" : \"https://p.scdn.co/mp3-preview/b7e3bc96b46e4dcc22cec5d23337d2446cb0ab87?cid=774b29d4f13844c495f206cafdad9c86\",\n    \"track_number\" : 14,\n    \"type\" : \"track\",\n    \"uri\" : \"spotify:track:5ZBeML7Lf3FMEVviTyvi8l\"\n  }, {\n    \"album\" : {\n      \"album_type\" : \"ALBUM\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n        \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n        \"name\" : \"The Beatles\",\n        \"type\" : \"artist\",\[...]
