{
  "log": {
    "_recordingName": "return-playlist-of-user-by-top-track",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 80,
      },
      {
        "_id": "c3f7fddc46cfeba15dd3cdbbade48499",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "time_range",
              "value": "short_term"
            }
          ],
          "url": "https://api.spotify.com/v1/me/top/tracks?limit=50&time_range=short_term"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 169528,
            "text": "{\n  \"items\" : [ {\n    \"album\" : {\n      \"album_type\" : \"ALBUM\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/293zczrfYafIItmnmM3coR\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/293zczrfYafIItmnmM3coR\",\n        \"id\" : \"293zczrfYafIItmnmM3coR\",\n        \"name\" : \"Chuck Berry\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:293zczrfYafIItmnmM3coR\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\", \"AU\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\", \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"US\", \"UY\", \"VN\", \"ZA\" ],\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/album/6eedtCtCjibu80yOhylSGL\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/albums/6eedtCtCjibu80yOhylSGL\",\n      \"id\" : \"6eedtCtCjibu80yOhylSGL\",\n      \"images\" : [ {\n        \"height\" : 640,\n        \"url\" : \"https://i.scdn.co/image/ab67616d0000b273a496dc8c33ca6d10668b3157\",\n        \"width\" : 640\n      }, {\n        \"height\" : 300,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00001e02a496dc8c33ca6d10668b3157\",\n        \"width\" : 300\n      }, {\n        \"height\" : 64,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00004851a496dc8c33ca6d10668b3157\",\n        \"width\" : 64\n      } ],\n      \"name\" : \"Berry Is On Top\",\n      \"release_date\" : \"1959-07-01\",\n      \"release_date_precision\" : \"day\",\n      \"total_tracks\" : 12,\n      \"type\" : \"album\",\n      \"uri\" : \"spotify:album:6eedtCtCjibu80yOhylSGL\"\n    },\n    \"artists\" : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/293zczrfYafIItmnmM3coR\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/artists/293zczrfYafIItmnmM3coR\",\n      \"id\" : \"293zczrfYafIItmnmM3coR\",\n      \"name\" : \"Chuck Berry\",\n      \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:293zczrfYafIItmnmM3coR\"\n    } ],\n    \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\", \"AU\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\", \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"US\", \"UY\", \"VN\", \"ZA\" ],\n    \"disc_number\" : 1,\n    \"duration_ms\" : 161560,\n    \"explicit\" : false,\n    \"external_ids\" : {\n      \"isrc\" : \"USMC15719963\"\n    },\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/track/2QfiRTz5Yc8DdShCxG1tB2\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/tracks/2QfiRTz5Yc8DdShCxG1tB2\",\n    \"id\" : \"2QfiRTz5Yc8DdShCxG1tB2\",\n    \"is_local\" : false,\n    \"name\" : \"Johnny B. Goode\",\n    \"popularity\" : 75,\n    \"preview_url\" : \"https://p.scdn.co/mp3-preview/a8eecb614f4a6895be924517994fff77e41e4efe?cid=9dba056b436d451f93538381e5146ad5\",\n    \"track_number\" : 6,\n    \"type\" : \"track\",\n    \"uri\" : \"spotify:track:2QfiRTz5Yc8DdShCxG1tB2\"\n  }, {\n    \"album\" : {\n      \"album_type\" : \"ALBUM\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n        \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n        \"name\" : \"The Beatles\",\n        \"type\" : \"artist\",\n[...]
