{
  "log": {
    "_recordingName": "return-playlist-for-given-keyword",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 57,
      },
      {
        "_id": "3ca29bc2110e80aa92159d028ddcbba7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "\"The Beatles\""
            },
            {
              "name": "type",
              "value": "playlist"
            }
          ],
          "url": "https://api.spotify.com/v1/search?q=%22The%20Beatles%22&type=playlist"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 30161,
            "text": "{\n  \"playlists\" : {\n    \"href\" : \"https://api.spotify.com/v1/search?query=%22The+Beatles%22&type=playlist&offset=0&limit=20\",\n    \"items\" : [ {\n      \"collaborative\" : false,\n      \"description\" : \"Containing rarities, outtakes, and alternative performances from the Beatles Anthology series, spanning the entire career of the band.\",\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DX0VXy1CHLBRu\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DX0VXy1CHLBRu\",\n      \"id\" : \"37i9dQZF1DX0VXy1CHLBRu\",\n      \"images\" : [ {\n        \"height\" : null,\n        \"url\" : \"https://pl.scdn.co/images/pl/large/4c5cc1a66ceb9109de4b7c78a6024141e4e8e2b8\",\n        \"width\" : null\n      } ],\n      \"name\" : \"The Beatles Anthology Highlights\",\n      \"owner\" : {\n        \"display_name\" : \"Spotify\",\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/user/spotify\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/users/spotify\",\n        \"id\" : \"spotify\",\n        \"type\" : \"user\",\n        \"uri\" : \"spotify:user:spotify\"\n      },\n      \"primary_color\" : null,\n      \"public\" : null,\n      \"snapshot_id\" : \"MTU3NDE2MDUxMSwwMDAwMDAxNTAwMDAwMTVjZjg3MDg0YTQwMDAwMDE2ZTgzNDczMWE4\",\n      \"tracks\" : {\n        \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DX0VXy1CHLBRu/tracks\",\n        \"total\" : 23\n      },\n      \"type\" : \"playlist\",\n      \"uri\" : \"spotify:playlist:37i9dQZF1DX0VXy1CHLBRu\"\n    }, {\n      \"collaborative\" : false,\n      \"description\" : \"A selection of the biggest and best tracks from The Fab Four -- John Lennon, Paul McCartney, George Harrison and Ringo Starr! Check out The Best Of The Best profile for more great playlists.\",\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/playlist/21Gs9V9IfA9cw16tlznsHn\"\n      },\n    [...]
