{
  "log": {
    "_recordingName": "test-fetch-spotify-charts-report-fetch-csv-from-spotify-charts-and-transform-to-json",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7fc04d78c65d4929fd8322cf250f1d1a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://spotifycharts.com/regional/hk/daily/latest/download"
        },
        "response": {
          "content": {
            "mimeType": "text/csv;charset=UTF-8",
            "size": 18882,
            "text": ",,,\"Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.\",\nPosition,\"Track Name\",Artist,Streams,URL\n1,\"一人之境 in C major\",\"Terence Lam\",23419,https://open.spotify.com/track/32QnXosZq7A11knnBAEqk7\n2,時光倒流一句話,\"Terence Lam\",20189,https://open.spotify.com/track/63QmxPL3QlchvXcHLsI6UM\n3,\"隔離 - Studio Live Duet\",\"Jace Chan\",19333,https://open.spotify.com/track/4xL01OuFjqizPDclF8gDpl\n4,\"drivers license\",\"Olivia Rodr[...]
