{
  "log": {
    "_recordingName": "return-playlist-of-user-by-top-track",
    "browser": {
      "name": "Chrome",
      "version": "96.0.4641.0"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fb52d1d2a1a6d4b42bdbeffcb5f64866",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "additional_types",
              "value": "track"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player?additional_types=track"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 38,
      },
      {
        "_id": "c3f7fddc46cfeba15dd3cdbbade48499",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "time_range",
              "value": "short_term"
            }
          ],
          "url": "https://api.spotify.com/v1/me/top/tracks?limit=50&time_range=short_term"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 10749,
            "text": "{\n  \"items\" : [ {\n    \"album\" : {\n      \"album_type\" : \"ALBUM\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n        \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n        \"name\" : \"The Beatles\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\", \"AU\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\", \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"US\", \"UY\", \"VN\", \"ZA\" ],\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/album/0PT5m6hwPRrpBwIHVnvbFX\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/albums/0PT5m6hwPRrpBwIHVnvbFX\",\n      \"id\" : \"0PT5m6hwPRrpBwIHVnvbFX\",\n      \"images\" : [ {\n        \"height\" : 640,\n        \"url\" : \"https://i.scdn.co/image/ab67616d0000b273e3e3b64cea45265469d4cafa\",\n        \"width\" : 640\n      }, {\n        \"height\" : 300,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00001e02e3e3b64cea45265469d4cafa\",\n        \"width\" : 300\n      }, {\n        \"height\" : 64,\n        \"url\" : \"https://i.scdn.co/image/ab67616d00004851e3e3b64cea45265469d4cafa\",\n        \"width\" : 64\n      } ],\n      \"name\" : \"Help! (Remastered)\",\n      \"release_date\" : \"1965-08-06\",\n      \"release_date_precision\" : \"day\",\n      \"total_tracks\" : 14,\n      \"type\" : \"album\",\n      \"uri\" : \"spotify:album:0PT5m6hwPRrpBwIHVnvbFX\"\n    },\n    \"artists\" : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n      \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n      \"name\" : \"The Beatles\",\n      \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"\n    } ],\n    \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\", \"AU\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\", \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"US\", \"UY\", \"VN\", \"ZA\" ],\n    \"disc_number\" : 1,\n    \"duration_ms\" : 176506,\n    \"explicit\" : false,\n    \"external_ids\" : {\n      \"isrc\" : \"GBAYE0601478\"\n    },\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/track/70Dohn82wv6VtxGesqRzbZ\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/tracks/70Dohn82wv6VtxGesqRzbZ\",\n    \"id\" : \"70Dohn82wv6VtxGesqRzbZ\",\n    \"is_local\" : false,\n    \"name\" : \"Dizzy Miss Lizzy - Remastered 2009\",\n    \"popularity\" : 45,\n    \"preview_url\" : \"https://p.scdn.co/mp3-preview/2606b9f0f0718fc8cc605078bde3178ffe1ba308?cid=9dba056b436d451f93538381e5146ad5\",\n    \"track_number\" : 14,\n    \"type\" : \"track\",\n    \"uri\" : \"spotify:track:70Dohn82wv6VtxGesqRzbZ\"\n  }, {\n    \"album\" : {\n      \"album_type\" : \"ALBUM\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\n        \"id\" : \"3WrFJ7ztbogyGnTHbHJFl2\",\n        \"name\" : \"The Beatles\",\n        \"type\" : \"artist\",\[...]
