{
  "log": {
    "_recordingName": "return-user-recently-played-track",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "40fb882d8716de88a1893dd32558060d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player/recently-played?limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 196159,
            "text": "{\n  \"items\" : [ {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"album\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/artist/7FIoB5PHdrMZVC3q2HE5MS\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/artists/7FIoB5PHdrMZVC3q2HE5MS\",\n          \"id\" : \"7FIoB5PHdrMZVC3q2HE5MS\",\n          \"name\" : \"George Harrison\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:7FIoB5PHdrMZVC3q2HE5MS\"\n        } ],\n        \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/album/4I4xtHaIFOzhZfp1NIHkY6\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/albums/4I4xtHaIFOzhZfp1NIHkY6\",\n        \"id\" : \"4I4xtHaIFOzhZfp1NIHkY6\",\n        \"images\" : [ {\n          \"height\" : 640,\n          \"url\" : \"https://i.scdn.co/image/ab67616d0000b273acc11d868a59008935e72299\",\n          \"width\" : 640\n        }, {\n          \"height\" : 300,\n          \"url\" : \"https://i.scdn.co/image/ab67616d00001e02acc11d868a59008935e72299\",\n          \"width\" : 300\n        }, {\n          \"height\" : 64,\n          \"url\" : \"https://i.scdn.co/image/ab67616d00004851acc11d868a59008935e72299\",\n          \"width\" : 64\n        } ],\n        \"name\" : \"All Things Must Pass (Remastered 2014)\",\n        \"release_date\" : \"1970-11-27\",\n        \"release_date_precision\" : \"day\",\n        \"total_tracks\" : 28,\n        \"type\" : \"album\",\n        \"uri\" : \"spotify:album:4I4xtHaIFOzhZfp1NIHkY6\"\n      },\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/7FIoB5PHdrMZVC3q2HE5MS\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/7FIoB5PHdrMZVC3q2HE5MS\",\n        \"id\" : \"7FIoB5PHdrMZVC3q2HE5MS\",\n        \"name\" : \"George Harrison\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:7FIoB5PHdrMZVC3q2HE5MS\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n      \"disc_number\" : 2,\n      \"duration_ms\" : 226866,\n      \"explicit\" : false,\n      \"external_ids\" : {\n        \"isrc\" : \"GB77R1400043\"\n      },\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/track/6QLFNz62dpOgQTloWuUbNh\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/tracks/6QLFNz62dpOgQTloWuUbNh\",\n      \"id\" : \"6QLFNz62dpOgQTloWuUbNh\",\n      \"is_local\" : false,\n      \"name\" : \"All Things Must Pass - Remastered 2014\",\n      \"popularity\" : 56,\n      \"preview_url\" : \"https://p.scdn.co/mp3-preview/a037918cf111531593843efb4ff8f59a84eebe13?cid=9dba056b436d451f93538381e5146ad5\",\n      \"track_number\" : 5,\n      \"type\" : \"track\",\n      \"uri\" : \"spotify:track:6QLFNz62dpOgQTloWuUbNh\"\n    },\n    \"played_at\" : \"2021-02-12T15:04:53.706Z\",\n    \"context\" : null\n  }, {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"album\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/artist/7FIoB5PHdrMZVC3q2HE5MS\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/artists/7FIoB5PHdrMZVC3q2HE5MS\",\n          \"id\" : \"7FIoB5PHdrMZVC3q2HE5MS\",\n          \"name\" : \"George Harrison\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:7[...]
