{
  "log": {
    "_recordingName": "return-user-recently-played-track",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "40fb882d8716de88a1893dd32558060d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api.spotify.com/v1/me/player/recently-played?limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 196138,
            "text": "{\n  \"items\" : [ {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"album\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/artist/0ECwFtbIWEVNwjlrfc6xoL\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/artists/0ECwFtbIWEVNwjlrfc6xoL\",\n          \"id\" : \"0ECwFtbIWEVNwjlrfc6xoL\",\n          \"name\" : \"Eagles\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:0ECwFtbIWEVNwjlrfc6xoL\"\n        } ],\n        \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/album/2widuo17g5CEC66IbzveRu\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/albums/2widuo17g5CEC66IbzveRu\",\n        \"id\" : \"2widuo17g5CEC66IbzveRu\",\n        \"images\" : [ {\n          \"height\" : 640,\n          \"url\" : \"https://i.scdn.co/image/ab67616d0000b2734637341b9f507521afa9a778\",\n          \"width\" : 640\n        }, {\n          \"height\" : 300,\n          \"url\" : \"https://i.scdn.co/image/ab67616d00001e024637341b9f507521afa9a778\",\n          \"width\" : 300\n        }, {\n          \"height\" : 64,\n          \"url\" : \"https://i.scdn.co/image/ab67616d000048514637341b9f507521afa9a778\",\n          \"width\" : 64\n        } ],\n        \"name\" : \"Hotel California (2013 Remaster)\",\n        \"release_date\" : \"1976-12-08\",\n        \"release_date_precision\" : \"day\",\n        \"total_tracks\" : 9,\n        \"type\" : \"album\",\n        \"uri\" : \"spotify:album:2widuo17g5CEC66IbzveRu\"\n      },\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/0ECwFtbIWEVNwjlrfc6xoL\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/0ECwFtbIWEVNwjlrfc6xoL\",\n        \"id\" : \"0ECwFtbIWEVNwjlrfc6xoL\",\n        \"name\" : \"Eagles\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:0ECwFtbIWEVNwjlrfc6xoL\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AL\", \"AR\", \"AT\", \"AU\", \"BA\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"BY\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\", \"HN\", \"HR\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"KZ\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MD\", \"ME\", \"MK\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PT\", \"PY\", \"QA\", \"RO\", \"RS\", \"RU\", \"SA\", \"SE\", \"SG\", \"SI\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"UA\", \"US\", \"UY\", \"VN\", \"XK\", \"ZA\" ],\n      \"disc_number\" : 1,\n      \"duration_ms\" : 296172,\n      \"explicit\" : false,\n      \"external_ids\" : {\n        \"isrc\" : \"USEE11300356\"\n      },\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/track/0Q5YtY85lz5n7rQkeMNpoe\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/tracks/0Q5YtY85lz5n7rQkeMNpoe\",\n      \"id\" : \"0Q5YtY85lz5n7rQkeMNpoe\",\n      \"is_local\" : false,\n      \"name\" : \"Wasted Time - 2013 Remaster\",\n      \"popularity\" : 52,\n      \"preview_url\" : \"https://p.scdn.co/mp3-preview/56d79249081e8403a892eb59d2b8f03f280bb31b?cid=9dba056b436d451f93538381e5146ad5\",\n      \"track_number\" : 4,\n      \"type\" : \"track\",\n      \"uri\" : \"spotify:track:0Q5YtY85lz5n7rQkeMNpoe\"\n    },\n    \"played_at\" : \"2021-02-17T07:51:11.827Z\",\n    \"context\" : {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/album/2widuo17g5CEC66IbzveRu\"\n      },\n      \"href\" : \"https://api.spotify.com/v1/albums/2widuo17g5CEC66IbzveRu\",\n      \"type\" : \"album\",\n      \"uri\" : \"spotify:album:2widuo17g5CEC66IbzveRu\"\n    }\n  }, {\n    \"track\" : {\n      \"album\" : {\n        \"album_type\" : \"album\",\n        \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/arti[...]
