name: before-push

on:
  push:
    branch:
      - master
      - development
env:
  CI: true
jobs:
  unit-test:
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: bash ./scripts/setup.sh
      - uses: paambaati/codeclimate-action@v2.5.5
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
        with:
          coverageCommand: bash ./scripts/test/jest.sh

  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: bash ./scripts/setup.sh
      - run: bash ./scripts/test/lchi.sh
